# Our three formats

We will learn how to injest (read into pandas):

  * csv files
  * excel files
  * sql files

In all cases, we can only read in simple values, if you have formulas in your excel spreadsheet, they are not getting injested into a DataFrame

In all cases, the result of injesting data is a pandas `DataFrame``

We typically populate a data frame from some external source, the most common being a CSV file.  For this we use the `read_csv` function from the `pandas` library.  We pass it a path to the file we want to load.  On this machine, we are running Linux in the background, so we use Linux-style paths.  Your path would look different on a Windows machine.  Advanced: If you want to run the same code on all computers, [you need a library to build your paths for you](https://medium.com/@ageitgey/python-3-quick-tip-the-easy-way-to-deal-with-file-paths-on-windows-mac-and-linux-11a072b58d5f)

In [ ]:
import pandas as pd

box_hill = pd.read_csv("data/rainfall/IDCJAC0009_047045_1800_Data.csv")
box_hill


A number of very interesting things happen:
  1) The dataframe has been given an index that starts at 0 and goes up one at at time.  That data was not in the original CSV file.
  2) Any empty cells were given the value `NaN` (which means "not a number")
  3) The first row is used to create column names (remember a column in a `Series`)
  4) When printing the frame, only the first 5 and last 5 rows are shown and the full imensions are shown at the bottom.

If we extract one of the series from this frame, it will use the generated indexes.

In [ ]:
box_hill["Rainfall amount (millimetres)"]

# Excel

Beyond the additional formatting, the primary difference between a CSV file and an Excel file is that the Excel file might have mutliple "worksheets", each one of which represents a table that can be imported into a DataFrame.  We have provided an example file with some fun data in `data/fun.xlxs`, here is how to read it using [pandas built-in `read_excel`](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html) function.

Note: you need to have an additional library installed to make this work:
  * [`openpyxl`](https://pythonexamples.org/modulenotfounderror-no-module-named-openpyxl/)

You might also note that reading these excel files is _very slow_  because they are very large datasets.

If we provide no extra arguments to `read_excel` it will only read the first sheet.

In [ ]:
import pandas as pd

xx = pd.read_excel("data/fun.xlsx")
print(xx)

We can index other sheets with a number (starting at 0 for the left-most sheet) or by name

# Loading Data from SQLite

Pandas can read data from many sources, lets take a look at an interesting one.  You may have noticed that DataFrames look a lot like database tables?  Indeed you can load a database table directly into a dataframe.

Unfortunately, we can't do it all from Pandas, we have to use the `sqlite3` library to load up the database.

In the data folder there is a file `data/sql/census200names.sqlite`, we will load the data from this file.  Note:  You need to know the name of the table you want to import!  Databases contain many tables (just like spreadsheets can have many sheets) but there is no default option with sql.  If you don't tell it what table to import, it will five you an error.  Note also that we use a stardard SQL query to get the data.  Here is a table of all the surnames with at least 100 humans attached from ... somewhere?  I think perhaps America?  I can educate my guess by adding up the total number of people accounted for.

In [ ]:
import sqlite3

# we need to use the sqlite library to access the file
con = sqlite3.connect("data/sql/census2000names.sqlite")

# but then pandas can load up the table
df = pd.read_sql("SELECT * FROM surnames;", con)
print(df)
df["count"].sum()

242 million?  Sounds about right for the USA.

When you don't know what tables are in your sql file, you need to do a little magic to find out

In [3]:
import sqlite3
import pandas as pd

con2 = sqlite3.connect("data/sql/sfscores.sqlite")
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", con2)
tables

          name
0   businesses
1  inspections
2   violations

In [ ]:
pd.read_sql("select * from businesses;", con2)

In [ ]:
pd.read_sql("select * from inspections;", con2)

In [ ]:
pd.read_sql("select * from violations;", con2)

A really nice trick with SQL importing is that you can use any SQL query at all.  Even the most complex SQL queries return a table that can become a DataFrame.


# Exercise - whr

Read in all three sheets (they are called `2015`, `2016`, and `2017`) from the `data/whr.xlsx`.  We've given a sneak-peak of next worksheet's material to combine the three into one data frame.

In [ ]:
import pandas as pd

whr_2015 = pd.read_excel("data/whr.xlsx", "2015") # fixme
whr_2016 = pd.read_excel("data/whr.xlsx", "2016")# fixme
whr_2017 = pd.read_excel("data/whr.xlsx", "2017")# fixme

all = pd.concat([whr_2015,whr_2016, whr_2017])
print(all)
print(all.loc[[5,25]])
#print(all.loc[all["Rank"]<5])

# Exercise

The following SQL query will return a table from the `sfscores` database.

````
select * from

In [ ]:
import pandas as pd
import sqlite3

con2 = sqlite3.connect("data/sql/sfscores.sqlite")
df = pd.read_sql("select * from inspections left join businesses", con2)
print(df)